<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="/css/admin-account.css">
<head>
  <meta charset="UTF-8">
  <title>All news</title>
</head>
<body>
<header class="main_header">
  <div class="icon">
    <img src="/images/houseroof_89152.png" class="icon_roof">
    <div class="icon_text">Home<br>Management<br>Company</div>
  </div>
  <div class="header_button" onclick="window.location.href='/adminPage'">
    Go back
    <img class="imgREG" src="/images/3643769-building-home-house-main-menu-start_113416.png">
  </div>
</header>
<br> <br>
<a href="/adminPage/addNews" class="btn btn-warning" style="margin-top: 5%">Add news</a>
<button onclick="window.print()" class="btn btn-outline-info" style="margin-top: 5%">PRINT</button>
<br><br>
<table class="table table-hover" style="margin-top: 8%; margin-left: 5%; width: 90%">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">TYPE</th>
    <th scope="col">INFO</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="news : ${allNews}">
    <th scope="row" th:text="${news.id}"/>
    <th scope="row" th:text="${news.type}"/>
    <th scope="row" th:text="${news.info}"/>
    <th scope="row">
      <form th:action="'allNews/' + ${news.id} + '/remove'" method="post">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
      </form>
    </th>
    <th scope="row">
      <form th:action="'allNews/' + ${news.id} + '/edit'" method="get">
        <button type="submit" class="btn btn-outline-info">Edit</button>
      </form>
    </th>
  </tr>
  </tbody>
</table>
</body>
</html>