<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="/css/admin-account.css">
<head>
    <meta charset="UTF-8">
    <title>All payments</title>
</head>
<body>
<header class="main_header">
    <div class="icon">
        <img src="/images/houseroof_89152.png" class="icon_roof">
        <div class="icon_text">Home<br>Management<br>Company</div>
    </div>
    <div class="header_button" onclick="window.location.href='/adminPage'">
        Go back
        <img class="imgREG" src="/images/3643769-building-home-house-main-menu-start_113416.png">
    </div>
</header>
<br> <br>
<div style="display: inline-flex; margin-top: 5%; width: 90%; height: 3%">
    <a href="/adminPage/addPayment" class="btn btn-warning" style="width: 10%; margin-right: 3%">Add payment</a>
    <button onclick="window.print()" class="btn btn-outline-info">PRINT</button>
    <form th:action="@{/adminPage/allPayments/getFilteredPaymentsByLogin}" th:method="GET"
          style="width: 70%; display: inline-flex; justify-content: space-around">
        <label>
            <select class="form-select" name="userLogin" style="font-size: 90%">
                <option value="0">Select user</option>
                <option th:each="user : ${allUsers}" th:value="${user.login}" th:text="${user.login}"></option>
            </select>
        </label>
        <button type="submit" class="btn btn-success">Get by login</button>
    </form>
    <form th:action="@{/adminPage/allPayments/getFilteredPaymentsByType}" th:method="GET"
          style="width: 70%; display: inline-flex; justify-content: space-around">
        <label>
            <select class="form-select" name="paymentType">
                <option value="0">Select payment type</option>
                <option value="income">income</option>
                <option value="expenses">expenses</option>
            </select>
        </label>
        <button type="submit" class="btn btn-success">Get by type</button>
    </form>
</div>
<br><br>
<p th:text="'Available sum: ' + ${incomesSum}"
   style="margin-left: 5%; margin-bottom: -5%; font-size: xx-large; color: #0AB97F"></p>


<table class="table table-hover" style="margin-top: 8%; margin-left: 5%; width: 90%">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">DATE</th>
        <th scope="col">SUM</th>
        <th scope="col">PAYMENT TYPE</th>
        <th scope="col">DETAILS</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="payment : ${allPayments}">
        <th scope="row" th:text="${payment.id}"/>
        <th scope="row" th:text="${payment.date}"/>
        <th scope="row" th:text="${payment.sum}"/>
        <th scope="row" th:text="${payment.paymentType}"/>
        <th scope="row">
            <form th:action="'/adminPage/allPayments/' + ${payment.id} + '/details'" method="get">
                <button type="submit" class="btn btn-outline-info">Get Details</button>
            </form>
        </th>
        <th scope="row">
            <form th:action="'/adminPage/allPayments/' + ${payment.id} + '/remove'" method="post">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>
        </th>
    </tr>
    </tbody>
</table>
</body>
</html>