<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worker account</title>
</head>
<link rel="stylesheet" href="/css/worker-account.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/header.css">
<body>
<header class="main_header">
    <div class="icon">
        <img src="/images/houseroof_89152.png" class="icon_roof">
        <div class="icon_text">Home<br>Management<br>Company</div>
    </div>
    <div class="header_button" onclick="window.location.href='/home'">
        Go to home page
        <img class="imgREG" src="/images/3643769-building-home-house-main-menu-start_113416.png">
    </div>
</header>
<div class="main_block">
    <div class="main_buttons">
        <button onclick="location.href='/workerTasks'" type="button" class="button_main1">GET MY TASK</button>
        <button onclick="location.href='/newsPage'" type="button" class="button_main2">WATCH NEWS</button>
    </div>
    <div class="main_text">
        <span class="text_into_main">
            Welcome to our Home Management Company!
        </span>
    </div>
</div>

<footer class="footer">
    <div class="copyright">
        <img src="/images/-copyright_90662.png" class="footer_copyright_image">
        HMC 2020-2023. All rights reserved
    </div>
    <div class="social_networks">
        <div class="instagram">
            <img src="/images/instagram_black_logo_icon_147122.png" class="footer_instagram_image">
            <a href="https://www.instagram.com/klim_menkov/">Instagram</a>
        </div>
        <div class="facebook">
            <img src="/images/social_facebook_fb_35.png" class="footer_facebook_image">
            <a href="https://www.facebook.com/">Facebook</a>
        </div>
        <div class="linkedin">
            <img src="/images/LinkedIn_Rounded_Solid_icon-icons.com_61559.png" class="footer_linkedin_image">
            <a href="https://www.linkedin.com/in/klim-menkov-18a995215/">LinkedIN</a>
        </div>

    </div>
    <div class="contacts">
        <div class="mail">
            <img src="/images/mail_email_message_electronic_online_web_icon-icons.com_59986.png"
                 class="footer_mail_image">
            <div>hmc.corp@gmail.com</div>
        </div>
        <div class="phone">
            <img src="/images/phone-symbol-of-an-auricular-inside-a-circle_icon-icons.com_56478.png"
                 class="footer_phone_image">
            <div>+380997975514</div>
        </div>
    </div>
</footer>
</body>
</html>