<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worker tasks</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="/css/worker-tasks.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/header.css">
<body>
<header class="main_header">
    <div class="icon">
        <img src="/images/houseroof_89152.png" class="icon_roof">
        <div class="icon_text">Home<br>Management<br>Company</div>
    </div>
    <div class="header_button" onclick="window.location.href='/home'">
        На головну
        <img class="imgREG" src="/images/3643769-building-home-house-main-menu-start_113416.png">
    </div>
</header>
<div class="main_block">
    <div class="main_table">
        <table class="table table-hover" style="margin-top: 8%; margin-left: 5%; width: 90%;">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ДЕТАЛІ</th>
                <th scope="col">ВИКОНАТИ ДО</th>
                <th scope="col">ГОТОВНІСТЬ</th>
                <th scope="col">ВАЖЛИВІСТЬ</th>
                <th scope="col">ТИП</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="maintenance : ${allMaintenances}">
                <th scope="row" th:text="${maintenance.id}"/>
                <th scope="row" th:text="${maintenance.details}"/>
                <th scope="row" th:text="${maintenance.dueDate}"/>
                <th scope="row" th:text="${maintenance.isReady}"/>
                <th scope="row" th:text="${maintenance.rate}"/>
                <th scope="row" th:text="${maintenance.type}"/>
                <th scope="row">
                    <form th:action="'/workerPage/workerTasks/' + ${maintenance.id} + '/isCompleted'" method="post">
                        <button type="submit" class="btn btn-outline-success">Виконано</button>
                    </form>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="main_buttons">
    <span class="text_into_main">
        Фільтрація завдань
    </span>
        <form class="form-inline" th:action="@{/workerPage/workerTasks/getFilteredMaintenances}" method="get">
            <div class="form-group mx-sm-3 mb-2">
                <label class="sr-only">Важливість:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rate" id="rate1" value="1">
                    <label class="form-check-label" for="rate1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rate" id="rate2" value="2">
                    <label class="form-check-label" for="rate2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rate" id="rate3" value="3">
                    <label class="form-check-label" for="rate3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rate" id="rate4" value="4">
                    <label class="form-check-label" for="rate4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rate" id="rate5" value="5">
                    <label class="form-check-label" for="rate5">5</label>
                </div>
            </div>
            <br>
            <div class="form-group mx-sm-3 mb-2">
                <label for="isReadySelect" class="mr-2">Виконано:</label>
                <select class="form-control" id="isReadySelect" name="isReady">
                    <option value='0'>Усі</option>
                    <option value='c'>Контроль</option>
                    <option value='f'>Невиконані</option>
                    <option value='t'>Виконані</option>
                </select>
            </div>
            <br>
            <div class="form-group mx-sm-3 mb-2">
                <label for="typeInput" class="mr-2">Тип:</label>
                <input type="text" class="form-control" id="typeInput" name="type" placeholder="Введіть тип">
            </div>
            <br>
            <button type="submit" class="btn btn-success">Знайти</button>
        </form>
    </div>
</div>

<footer class="footer">
    <div class="copyright">
        <img src="/images/-copyright_90662.png" class="footer_copyright_image">
        HMC 2020-2023. All rights reserved
    </div>
    <div class="social_networks">
        <div class="instagram">
            <img src="/images/instagram_black_logo_icon_147122.png" class="footer_instagram_image">
            <a href="https://www.instagram.com/klim_menkov/">Instagram</a>
        </div>
        <div class="facebook">
            <img src="/images/social_facebook_fb_35.png" class="footer_facebook_image">
            <a href="https://www.facebook.com/">Facebook</a>
        </div>
        <div class="linkedin">
            <img src="/images/LinkedIn_Rounded_Solid_icon-icons.com_61559.png" class="footer_linkedin_image">
            <a href="https://www.linkedin.com/in/klim-menkov-18a995215/">LinkedIN</a>
        </div>

    </div>
    <div class="contacts">
        <div class="mail">
            <img src="/images/mail_email_message_electronic_online_web_icon-icons.com_59986.png"
                 class="footer_mail_image">
            <div>hmc.corp@gmail.com</div>
        </div>
        <div class="phone">
            <img src="/images/phone-symbol-of-an-auricular-inside-a-circle_icon-icons.com_56478.png"
                 class="footer_phone_image">
            <div>+380997975514</div>
        </div>
    </div>
</footer>
</body>
</html>