<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tenant account</title>
</head>

<link rel="stylesheet" href="/css/tenant-account.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/header.css">
<body>
<header class="main_header">
    <div class="icon">
        <img src="/images/houseroof_89152.png" class="icon_roof">
        <div class="icon_text">Home<br>Management<br>Company</div>
    </div>
    <div class="header_button" onclick="window.location.href='/home'">
        Go to home page
        <img class="imgREG" src="/images/3643769-building-home-house-main-menu-start_113416.png">
    </div>
</header>

<div class="main_block">
    <div class="text_form_main">
        <span style="color: #0AB97F">Welcome to our Home Management Company!</span>
        <br><br>
        <span>We're excited to help you manage your property and ensure that your living experience is as smooth and
        stress-free as possible.</span>
    </div>

    <div class="buttons_list">
        <div class="main_buttons">
            <div class="button_pair">
                <button type="button" onclick="location.href='/newsPage'" class="page_button">SOME NEWS</button>
                <button type="button" class="page_button">PAYMENTS</button>
            </div>

            <div class="button_pair">
                <button type="button" class="page_button">MEETINGS</button>
                <button type="button" class="page_button">CONTACTS</button>
            </div>
        </div>

        <div class="property_button">
            <button type="button" class="page_button">MY PROPERTY</button>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="copyright">
        <img src="/images/-copyright_90662.png" class="footer_copyright_image">
        HMC 2020-2023. All rights reserved
    </div>
    <div class="social_networks">
        <div class="instagram">
            <img src="/images/instagram_black_logo_icon_147122.png" class="footer_instagram_image">
            <a href="https://www.instagram.com/klim_menkov/">Instagram</a>
        </div>
        <div class="facebook">
            <img src="/images/social_facebook_fb_35.png" class="footer_facebook_image">
            <a href="https://www.facebook.com/">Facebook</a>
        </div>
        <div class="linkedin">
            <img src="/images/LinkedIn_Rounded_Solid_icon-icons.com_61559.png" class="footer_linkedin_image">
            <a href="https://www.linkedin.com/in/klim-menkov-18a995215/">LinkedIN</a>
        </div>

    </div>
    <div class="contacts">
        <div class="mail">
            <img src="/images/mail_email_message_electronic_online_web_icon-icons.com_59986.png"
                 class="footer_mail_image">
            <div>hmc.corp@gmail.com</div>
        </div>
        <div class="phone">
            <img src="/images/phone-symbol-of-an-auricular-inside-a-circle_icon-icons.com_56478.png"
                 class="footer_phone_image">
            <div>+380997975514</div>
        </div>
    </div>
</footer>
</body>
</html>