@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_block {
    position: absolute;

    width: 80%;
    height: 70%;

    top: 18%;
    left: 10%;

    border-radius: 60px;

    background-color: #FFFFFF;
}

.main_table {
    margin-top: 3%;
    padding-left: 3%;

    overflow: auto;

    width: 95%;
    height: 100%;
}

body {
    background-color: #EBEAEA;
    height: 100%;
    width: 100%;
}