@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_block {
    display: inline-flex;
    justify-content: space-between;

    position: absolute;
    width: 80%;
    height: 70%;
    top: 18%;
    left: 10%;
    border-radius: 60px;

    background-image: url("/images/pexels-jeffrey-czum-2501965.jpg");
    background-position: bottom;
    background-size: 80%;
}

.text_form_main {

    margin-top: 10%;
    margin-left: 5%;
    margin-right: -2%;

    width: 40%;
    height: 55%;

    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0.145em;

    border-right: 2px solid black;

}

.buttons_list {
    margin-top: 8%;
    margin-right: 4%;

    width: 40%;
    height: 70%;
}

.main_buttons {
    height: 60%;

}

.button_pair {
    display: inline-flex;
    justify-content: space-between;

    width: 100%;
    height: 50%;
}

.page_button {

    margin-top: 5%;
    margin-right: 5%;

    width: 70%;
    height: 45%;

    background: #0AB97F;
    border-radius: 40px;

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 41px;

    color: #FFFFFF;
}

.property_button {
    height: 30%;

    margin-left: 20%;
}

.page_button:hover {
    background: #47eeb1;
}

body {
    background-color: #EBEAEA;
    height: 100%;
    width: 100%;
}