@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*HEADER*/
.icon_roof {
    width: 170px;
    height: 80px;

    /* Inside auto layout */
    margin-left: 20px;
    padding-right: 2%;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-right: 3px solid black;
}

.main_header {
    position: absolute;
    width: 100%;
    height: 13%;
    display: inline-flex;
    background: #FFFDFD;
    justify-content: space-between;
}

.icon {
    display: inline-flex;
}

.icon_text {
    font-family: 'Ubuntu', serif;
    letter-spacing: 3px;
    font-size: 25px;
    margin-left: 2%;
    margin-top: 1%;

}

.imgREG {
    padding-bottom: 3px;
}

.header_button {
    gap: 14px;

    font-family: 'Ubuntu', serif;
    font-size: 25px;
    color: white;

    width: 319px;
    height: 55px;
    margin-top: 1%;
    padding-top: 10px;
    padding-left: 1%;

    justify-content: space-evenly;
    display: inline-flex;

    background: #0AB97F;
    border-radius: 40px;
    margin-right: 2%;

}

.header_button:hover {
    background: #47eeb1;
}

/*HEADER*/

.main_block {
    display: inline-flex;
    justify-content: space-between;

    position: absolute;
    width: 80%;
    height: 70%;
    top: 18%;
    left: 10%;
    border-radius: 60px;

    background-image: url("/images/ww.jpeg");
    background-position: bottom;
    background-size: 80%;
}

body {
    background-color: #EBEAEA;
    height: 100%;
    width: 100%;
}