@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_block {
    display: inline-flex;
    justify-content: space-between;

    position: absolute;
    width: 80%;
    height: 70%;
    top: 18%;
    left: 10%;
    border-radius: 60px;

    background-color: #FFFFFF;
    background-size: cover;

    background-position: bottom;
}

.main_table {
    width: 70%;
    height: 90%;

    overflow: auto;
}

.main_buttons {
    margin-top: 2%;

    padding-left: 2%;

    width: 30%;
    height: 90%;

    border-left: 1px solid black;
}

.text_into_main {
    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 43px;
    letter-spacing: 0.145em;
    color: #0AB97F;
}


body {
    background-color: #EBEAEA;
    height: 100%;
    width: 100%;
}