<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new account</title>
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>
<header class="main_header">
    <div class="icon">
        <img src="/images/houseroof_89152.png" class="icon_roof">
        <div class="icon_text">Home<br>Management<br>Company</div>
    </div>
    <div class="header_button" onclick="window.location.href='/home'">
        Go to home page
        <img class="imgREG" src="/images/3643769-building-home-house-main-menu-start_113416.png">
    </div>
</header>


<div class="centerInfo">
    <div class="leftInfoBlock">
        <h2 class="whyOurApp">Why our app?</h2>
        <p>
            <span style="color: #0AB97F">Convenience:</span> A home management company can handle all
            the day-to-day tasks involved in maintaining your property,
            so you don't have to. This can free up your time and energy for other things.
        </p>
        <br>
        <p>
            <span style="color: #0AB97F">Expertise:</span> A professional home management company has the experience and
            knowledge to handle any issues that may arise with your property, ensuring
            that they are dealt with quickly and effectively.
        </p>
        <br>
        <p>
            <span style="color: #0AB97F"> Peace of mind:</span> By entrusting the care of your property to a
            professional,
            you can have peace of mind knowing that it is in good hands.
            You can focus on other aspects of your life.
        </p>

    </div>

    <div class="rightInfoBlock">
        <h2 class="createYourAccount">Create your account</h2> <br>
        <h3 class="tellYourInfo">Tell us your info</h3> <br>

        <div class="loginPasswordEnter">
            <div class="phoneMailInput">
                <input type="text" placeholder="Email"><br>
                <input type="tel" placeholder="Phone">
            </div>
            <div class="passwordInput">
                <input type="password" placeholder="Password"><br>
                <input type="password" placeholder="Repeat password">
            </div>
        </div>

        <h3 class="tellYourselfInfo">Tell us about yourself</h3> <br>

        <div class="yourInfoInput">
            <div class="nameSurnameInput">
                <input type="text" placeholder="Name"><br>
                <input type="text" placeholder="Surname">
            </div>
            <div class="spezInput">
                <input type="text" placeholder="Specialization"><br>
            </div>
        </div>
    </div>

</div>


<footer class="footer">
    <div class="copyright">
        <img src="/images/-copyright_90662.png" class="footer_copyright_image">
        HMC 2020-2023. All rights reserved
    </div>
    <div class="social_networks">
        <div class="instagram">
            <img src="/images/instagram_black_logo_icon_147122.png" class="footer_instagram_image">
            <a href="https://www.instagram.com/klim_menkov/">Instagram</a>
        </div>
        <div class="facebook">
            <img src="/images/social_facebook_fb_35.png" class="footer_facebook_image">
            <a href="https://www.facebook.com/">Facebook</a>
        </div>
        <div class="linkedin">
            <img src="/images/LinkedIn_Rounded_Solid_icon-icons.com_61559.png" class="footer_linkedin_image">
            <a href="https://www.linkedin.com/in/klim-menkov-18a995215/">LinkedIN</a>
        </div>

    </div>
    <div class="contacts">
        <div class="mail">
            <img src="/images/mail_email_message_electronic_online_web_icon-icons.com_59986.png"
                 class="footer_mail_image">
            <div>hmc.corp@gmail.com</div>
        </div>
        <div class="phone">
            <img src="/images/phone-symbol-of-an-auricular-inside-a-circle_icon-icons.com_56478.png"
                 class="footer_phone_image">
            <div>+380997975514</div>
        </div>
    </div>
</footer>
</body>
</html>